<div class="ui container">
  <nav class="ui menu" style="max-width: 1600px; margin: 0 auto;">
    <header class="ui header item">
      <a href="/"><img src="../public/images/logo.svg"></a>
    </header>
    <div class="right menu">
      <a id="dashboard" class="item" href="/dashboard">Dashboard</a>
      <a id="about" class="item" href="/about">About</a>
    </div>
  </nav>
</div>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>