<div class="ui container">
  <nav class="ui menu nav">
    <header class="ui header item">
      <a href="/">💢Ani List</a>
    </header>
    <div class="right menu">
      <a id="dashboard" class="item" href="/dashboard">Dashboard</a>
      <a id="about" class="item" href="/about">About</a>
    </div>
  </nav>
</div>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>