
<section>
  {{> menu id="dashboard"}}
</section>

 <section class="ui container ">
<section class="ui left aligned middle aligned segment">
  
  <h2>Playlist App Dashboard</h2>
  
{{#each shows}}
  <h1>{{title}}</h1>

  
<table class="ui fixed striped table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
    </tr>
  </thead>
  <tbody>
    {{#each anime-shows}}
      <tr>
        <td>
          {{english_title}}
        </td>
        <td>
          {{romanji_title}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
  {{/each}}
</section>
</section>




