 
    <section>
      {{> menu}}
    </section> 

<section class="ui container ">
  <div class="hero">
  </div>
<section class="ui segment foreground">

    {{#if this}}
    <h2 class="ui header"> Getting something {{english_title}}
        </h2>

  {{else}}
  <h1> fuck all</h1>
    {{/if}}
<h1>

  </h1>
</section>
</section>