 
    <section>
      {{> menu}}
    </section> 

<section class="ui container ">
  <div class="hero">
  </div>
<section class="ui segment foreground">
    <h2 class="ui header">
    {{title}}
  </h2>
<h1>

  </h1>
</section>
</section>