:root {
  --background: #EDF1F5;
  --foreground: #0A1625;
  --accent: #2B2D42;
}
* {
  border: 2px red solid;
}

body {
  background-color: var(--background);
}
/*Utitlity classes*/
.foreground {
 background-color: var(--foreground);
}

.accent {
  background-color: var(--accent)!important;
}