:root {
  --background: #edf1f5;
  --foreground: #0a1625;
  --accent: #2b2d42;
  --text: #edf1f5;
}
/* * {
  border: 2px red solid;
} */

body {
  background-color: var(--background);
}
/*Utitlity classes*/
.foreground {
  background-color: var(--foreground);
}

.nav {
  background-color: var(--accent) !important;
}

.nav .item {
  color: var(--text) !important;
}
