:root {
  --background: #edf1f5;
  --foreground: #0a1625;
  --accent: #2b2d42;
  --text: #edf1f5;
}

.custom-active {
  background-color: #0a1625 !important;
}
/* * {
  border: 2px red solid;
} */

body {
  background-color: var(--background);
}
/*Utitlity classes*/
.foreground {
  background-color: var(--foreground);
}

.nav-wrapper {
  background-color: var(--accent) !important;
  width: 100vw !important;
  margin: 0 0 1em 0;
}

.nav {
  background-color: var(--accent) !important;
}

.nav .item {
  color: var(--text) !important;
}

.shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

img:hover {
  transform: scale(1);
}